/* Page Styles */
* {
  box-sizing: border-box;
  font-family: "Urbanist";
}

body {
  margin: 0;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #E7EFEB;
}

/* Header and Footer */
header {
  display: flex;
  background-color: #20302A;
  color: white;
  height: 5rem;
  font-size: 1rem;
  justify-content: space-between;
  align-items: center;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}

header span {
  margin: auto 20px;
}

header h1 {
  display: inline-block;
  margin: auto 20px;
  font-weight: normal;
}

header h2 {
  display: inline-block;
  margin: auto 0px;
  font-weight: normal;
  font-size: 1.25rem;
}

.signInButton {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content:space-around;
  border-radius: 4px;
  border: none;
  gap: 5px;
  margin-right: 10px;
}

.signInButton img {
  height: 40%;
  margin-left: 10px;
}

.signInButton span {
  margin: auto 5px;
  font-family: Arial, Helvetica, sans-serif;
}

.signInDiv {
  display: inline-block;
  margin: auto 10px;
  flex-shrink: 1;
}

.signOut {
  background-color: #A9C6BA;
  border-radius: 4px;
  border: #A9C6BA solid;
}

.profile {
  display: flex;
  gap: 10px;
  justify-content: space-around;
  align-items: center;
  margin-right: 10px;
  height: 100%;
}

.userInfo {
  height: 100%;
  text-align: center;
}

.userInfo img {
  height: 60%;
  border-radius: 100%;
  margin-top: 5px;
}

.userInfo p {
  margin: 0;
}

footer {
  margin-top: auto;
  width: 100%;
  min-height: 3rem;
  text-align: center;
  border-top: solid 1px #A9C6BA;
  background-color: #A9C6BA;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  padding-top: 5px;
}

footer div a{
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
}

footer a {
  color: #20302A;
}

footer a:visited {
  color:#20302A;
}

.fa {
  font-size: 25px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}


/* Data Display Styles */

.mainDisplay {
  display: flex;
  flex-wrap: wrap;
}

.displaySection {
  width: 47%;
  margin: 10px;
  text-align: center;
}

.displayFieldSummary {
  display: flex;
  flex-basis: 80%;
  flex-grow: 1;
  margin:0.5rem;
  text-align: center;
  gap: 20px;
}

.displayFieldSummary input {
  position: relative;
  left: 20px;
  border-radius: 10px;
  background-color: #A9C6BA;
  border: solid #A9C6BA;
  font-size: 1.5rem;
  width: 30%;
  text-align: center;
  color: #4B4848;
  
}

.displayFieldSummary span {
  text-align: left;
  width: 275px;
}

.sessionForm{
  display: flex;
  flex-wrap: wrap;
  margin: 10px 20px;
  background-color: white;
  color: #20302A;
  border: none;
  border-radius: 30px;
  gap: 5px;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  
}

.sessionForm legend{
  float: left;
  color: #20302A;
  font-size: 2.5rem;
}

.displayField {
  display:block;
  flex-basis: 45%;
  flex-grow: 1;
  margin:0.5rem;
  text-align: center;
}

.displayFieldSteps {
  flex-basis: 90%;
}

.displayField input {
  display: block;
  height: 60px;
  background-color: #39574B;
  color: white;
  border: solid #39574B;
  border-radius: 20px;
  width: 80%;
  font-size: 2.5rem;
  text-align: center;
  margin: 10px auto;
}

.displayField input:focus, .displayFieldSummary input:focus {
  outline: none;
}

.hidden {
  display: none;
  width: 0;
}

.error {
  color: red;
}


/* Button Styles */
.button {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content:space-around;
  background-color: #527A6B;
  width: 225px;
  height: 50px;
  border: none;
  border-radius: 4px;
  color: white;
  margin: 10px auto;
}

.disabledButton {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content:space-around;
  background-color: #7f8181;
  width: 225px;
  height: 50px;
  border: none;
  border-radius: 4px;
  color: rgba(255, 255, 255, 0.705);
  margin: 10px auto;
}

.button:hover {
  background-color: #39574B;
}

.buttonDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-right: 33.61px;
}

.buttonDiv img {
  height: 70%;
  margin: auto 5px;
}

.loader {
  margin: auto;
  border: 4px solid #527A6B;
  border-radius: 50%;
  height: 25px;
  width: 25px;
  border-top: 4px solid #A9C6BA;
  animation: spinner 1.5s linear infinite;
}

@keyframes spinner {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Responsive screen size styles */
@media only screen and (max-width: 965px){
  .displaySection {
    width: 98%;
  }

  header h2 {
    display: block;
    margin: auto 25px;
    font-weight: normal;
    font-size: 1.25rem;
  }
}

@media only screen and (max-width: 768px){
  header h1 {
    font-size: 1.5rem;
  }

  header h2 {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 498px){ 
  .signInButton span {
    display: none;
  }

  .signInButton img {
    margin: 5px;
  }

  .displayFieldSummary span{
    width: 230px;
  }

  .userInfo p{
    display: none;
  }

  .userInfo img {
    margin-top: 15px;
  }

  .profile {
    gap: 5px;
    margin-right: 5px;
  }

  header span {
    margin: auto 5px;
  }

  .displayFieldSummary input {
    font-size: 1.25rem;
  }
}

/* Custom Scroll bar */
::-webkit-scrollbar {
  width: 10px;
  background-color: #E7EFEB;
}

::-webkit-scrollbar-track {
  background-color: #E7EFEB;
  box-shadow: inset 0 0 5px #A9C6BA; 
}
 
::-webkit-scrollbar-thumb {
  background: #527A6B; 
}

::-webkit-scrollbar-thumb:hover {
  background: #39574B; 
}